// a.btn,
.btn {
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 200px;
  white-space: nowrap;
  font-weight: 700;
  vertical-align: middle;
  user-select: none;
  background: $black;
  color: $white;
  padding: 10px 40px;
  outline: none;
  border: 2px solid $black;
  will-change: contents;

  &.btn-outline {
    background: $white;
    color: $black;
    border: 2px solid $black;
  }

  &:hover {
    transform: scale(1.1, 1.1);
  }

  &.btn-primary {
    background: $primary;
    border-color: $primary;
    color: $white;

    &.btn-outline {
      background: transparent;
      color: $primary;
      border: 2px solid $primary;
    }
  }

  &.btn-white {
    background: $white;
    color: $black;
    border: 2px solid $white;

    &.btn-outline {
      background: $black;
      color: $white;
      border: 2px solid $white;
    }
  }

  &.btn-sm {
    font-size: 14px;
    padding: 10px 20px;
  }

  &.btn-lg {
    font-size: 40px;
    padding: 20px 80px;
  }

  &.btn-box {
    width: 40px;
    height: 40px;
    padding: 0;
    opacity: .5;
    &:hover {
      opacity: 1;
    }

    &.btn-box-sm {
      width: 28px;
      height: 28px;
    }
  }
}

.btn-default {
  border: 1px solid $grey;
  background: $white;
  color: $black;
}

.btn-square-sm {
  width: $size5;
  height: $size5;
  padding: 0;
  font-size: 4px;
}
