.form-group {
  display: flex;
  flex-direction: column;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -$size3;

  .form-group {
    flex-basis: 50%;
    flex-grow: 1;
    padding: $size3;
  }
}

.label-control {
  margin-bottom: $size2;
  font-weight: bold;
}

.form-control {
  height: $size7;
  border-radius: $radius;
  border: 1px solid $grey;
  padding: 0 $size3;
  outline-color: $black;
  font-size: 16px;
}

.form-group-block {
  .form-content {
    margin-bottom: $size3;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $media-query-medium) {

  .form-content {
    margin: 0;

    .form-group {
      flex-basis: 100%;
      padding: 0;
    }
  }
}
