.form-group {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -$size3;

  .form-group {
    flex-basis: 50%;
    flex-grow: 1;
    padding: $size3;
  }
}

.label-control {
  margin-bottom: $size2;
  font-weight: bold;
  color: $black;
}

.form-control {
  height: $size7;
  border-radius: $radius;
  border: 1px solid $grey;
  padding: 0 $size3;
  outline-color: $black;
  font-size: 16px;
  width: 100%;
  background: $white;
  color: $black;

  &.form-control-sm {
    height: $size5;
    padding: 0 $size1;
    font-size: 14px;
  }
}


.form-group-block {
  .form-content {
    margin-bottom: $size3;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $media-query-medium) {

  .form-content {
    margin: 0;

    .form-group {
      flex-basis: 100%;
      padding: $size3 0;
    }
  }
}

.checkbox-control {
  display: none;
}

.checkbox-control:checked~.content-block-form {
  display: none;
}

.checkbox-control:checked~label .fa-minus,
.checkbox-control~label .fa-plus {
  display: none;
}

.checkbox-control:checked~label .fa-plus,
.checkbox-control~label .fa-minus {
  display: block;
}

.container-checkbox {
  margin-bottom: $size7;
}

.container-checkbox .checkbox {
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  border-radius: $radius;
  white-space: nowrap;
  font-weight: 700;
  vertical-align: middle;
  user-select: none;
  background: $white;
  color: $black;
  padding: 0 20px;
  outline: none;
  border: 2px solid $grey;
  will-change: contents;
  margin: $size1;

  &:hover {
    border-color: $black;
  }

  &.active {
    background: $black;
    color: $white;
  }
}

.btn-checkbox {
  margin: $size1;
}

.icon-margin-right {
  margin-right: $size2;
}

.btn .fas,
.btn .far {
  font-size: 12px;
}

.alert {
  border: 2px solid $black;
  background: $black;
  color: $white;
  padding: $size3;
  border-radius: $radius;
  transition: .3s;
  font-weight: bold;
}

@media (max-width: $media-query-medium) {

  .container-checkbox .btn,
  .container-checkbox>div {
    flex-grow: 1;
  }

  .container-checkbox .btn,
  .container-checkbox .checkbox {
    width: 100%;
  }
}

@media (max-width: $media-query-small) {

  .container-checkbox .btn,
  .container-checkbox>div {
    width: 50%;
    min-width: 50%;
  }

  .container-checkbox .btn,
  .container-checkbox .checkbox {
    margin: 0;
  }

}

@media (max-width: $media-query-x-small) {

  .container-checkbox .btn,
  .container-checkbox>div {
    width: 100%;
    min-width: 100%;
  }
}

.form-group.full-width {
  flex-basis: 100%;
}

.form-relative {
  position: relative;
  display: flex;
  align-items: center;
}


.tab-container {
  display: flex;
  flex-wrap: wrap;
}

.tab-item {
  padding: 10px 20px;
  border: 2px solid $black;
  border-bottom: 0;
  border-right: none;
  transition: .3s;
  cursor: pointer;

  &:last-child {
    border-right: 2px solid $black;
    border-top-right-radius: $radius;
  }

  &:first-child {
    border-top-left-radius: $radius;
  }

  &.active {
    background: $black;
    color: $white;
  }
}

.tab-content {
  border: 2px solid $black;
  border-radius: $radius;
  border-top-left-radius: 0;
  padding: $size6;
  height: calc(60vh - 48px - 91px);
  overflow-y: auto;
  overflow-x: hidden;
}

.hr {
  width: 40px;
  max-width: 90%;
  height: 4px;
  border-radius: $radius;
  background: $white;
  border: none;
  margin: 8px 0;

  &-black {
    background: $black;
  }
}

@media (max-width: 576px) {
  .tab-container {
    flex-direction: column;
  }

  .tab-item {
    border-right: 2px solid $black;
    border-radius: 0;

    &:first-child {
      // border-radius: 0;
      border-top-right-radius: $radius;
    }

    &:last-child {
      border-radius: 0;
    }
  }

  .tab-content {
    border-top-right-radius: 0;
  }

}
