.form-group {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -$size3;

  .form-group {
    flex-basis: 50%;
    flex-grow: 1;
    padding: $size3;
  }
}

.label-control {
  margin-bottom: $size2;
  font-weight: bold;
}

.form-control {
  height: $size7;
  border-radius: $radius;
  border: 1px solid $grey;
  padding: 0 $size3;
  outline-color: $black;
  font-size: 16px;
  width: 100%;
}

.form-group-block {
  .form-content {
    margin-bottom: $size3;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $media-query-medium) {

  .form-content {
    margin: 0;

    .form-group {
      flex-basis: 100%;
      padding: $size3 0;
    }
  }
}

.checkbox-control {
  display: none;
}

.checkbox-control:checked~.content-block .fa-plus,
.checkbox-control~.content-block .fa-minus {
  display: block;
}

.checkbox-control~.content-block .fa-plus,
.checkbox-control:checked~.content-block .fa-minus {
  display: none;
}

.checkbox-control:checked~.content-block .content-block-form {
  display: none;
}

.box-content .form-group-block:last-child .space {
  display: none;
}

.container-checkbox {
  margin-bottom: $size7;
}

.container-checkbox .checkbox {
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  border-radius: $radius;
  white-space: nowrap;
  font-weight: 700;
  vertical-align: middle;
  user-select: none;
  background: $white;
  color: $black;
  padding: 0 20px;
  outline: none;
  border: 2px solid $grey;
  will-change: contents;
  margin: $size1;

  &:hover {
    // transform: scale(1.1, 1.1);
    border-color: $black;
  }

  &.active {
    background: $black;
    color: $white;
  }
}

.btn-checkbox {
  margin: $size1;
}

.icon-margin-right {
  margin-right: $size2;
}

.btn .fas,
.btn .far {
  font-size: 12px;
}
