*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background: $white;
}

.size {
  width: 100%;
  max-width: 95%;
}

.margin {
  margin: 0 auto;
}

*::-webkit-scrollbar {
  width: .8rem;
}

*::-webkit-scrollbar-thumb {
  background: $grey;
  border-radius: 10px;
  border: 2px solid $white;
  transition: .3s;
}

*::-webkit-scrollbar-thumb:hover {
  background: darken($grey, 10);
}

.relative {
  position: relative;
}

.code {
  position: relative;
  border-radius: $radius;
  padding: $size6;
  background: $black;
  color: $white;
  transition: 0.3s;
  width: 100%;

  &::-webkit-scrollbar {
    width: .8rem;
  }

  &::-webkit-scrollbar-thumb {
    background: lighten($black, 30);
    border-radius: 10px;
    border: 2px solid $black;
    transition: .3s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: lighten($black, 40);
  }
}

@media (max-width: $media-query-medium) {
  .code {
    padding: $size3;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.relative {
  position: relative;
}
