.box-title {
  width: 100%;
  margin-bottom: $size6;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  color: $black;
}

.box-subtitle {
  width: 100%;
  margin-bottom: $size3;
  margin-left: -$size5;
  display: flex;
  align-items: baseline;
  color: $black;

  span {
    cursor: pointer;

  }

  &:hover {
    font-weight: bold;
    color: $black;
  }
}

@media (max-width: $media-query-small) {
  .box-subtitle {
    margin-left: 0;
  }
}

.box-download {
  width: 100%;
  margin-top: -$size3;
  margin-bottom: 0;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  transition: .3s;
  color: $black;

  .btn-more {
    font-size: 14px;
    background: $black;
    color: $white;
    width: $size4;
    height: $size4;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: $size2;
    font-weight: bold;
  }

  &:hover {
    font-weight: bold;
  }
}

.btn-square-sm {
  margin-right: $size2;
}

.title {
  font-size: 24px;
  font-weight: bold;
  display: block;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: $size4;
}

.paragraph {
  font-size: 14px;
  opacity: .5;
  line-height: 2;
}

.space {
  padding: $size7 0;
  width: 100%;
}
