$full-width: 100%;
$media-query-x-large: 1366px;
$media-query-large: 992px;
$media-query-medium: 768px;
$media-query-small: 475px;
$media-query-x-small: 340px;

$menu-height: 60px;
$footer-height: 80px;

$black: #000;
$white: #fff;
$grey: #e8e8e8;
$grey-dark: #afafaf;

$radius: 6px;

$size1: 4px;
$size2: 8px;
$size3: 16px;
$size4: 24px;
$size5: 32px;
$size6: 40px;
$size7: 64px;
