@import "~/assets/css/_variables.scss";

.content {
  flex-basis: 70%;
  padding-right: $size6;
}

.box-content {
  box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.16);
  background: $white;
  border-radius: $radius;
  padding: $size7;
  height: 100%;
}

@media (max-width: $media-query-large) {
  .content {
    flex-basis: 100%;
    padding-right: 0;
    margin-bottom: $size6;
  }
}

@media (max-width: $media-query-medium) {
  .box-content {
    padding: $size4;
    box-shadow: none;
  }
}

@media (max-width: $media-query-small) {
  .box-content {
    padding: $size1;
    box-shadow: none;
  }
}
