@import "~/assets/css/_variables.scss";

.list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-content {
  min-height: calc(100vh - #{$menu-height} - #{$footer-height});
  padding: $size5 0;
}

.content {
  flex-basis: 75%;
}

.box-content {
  border: 1px solid $grey;
  background: $white;
  border-radius: $radius;
  padding: $size7;
  height: calc(100vh - #{$menu-height} - #{$footer-height} - 40px);
  overflow: auto;
}

@media (max-width: $media-query-large) {
  .content {
    flex-basis: 100%;
    padding-right: 0;
    margin-bottom: $size6;
  }

  .content,
  .box-content {
    height: calc(100vh - #{$menu-height} - #{$footer-height} - 60px);
  }

  .box-content {
    padding: $size4;
    border: none;
  }
}

@media (max-width: $media-query-small) {
  .box-content {
    padding: $size3;
  }
}


.box-content {
  position: relative;
}

.form-group-block {
  display: none;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  @keyframes teste {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.selected {
    display: block;
    animation: teste .3s;
  }
}

.sidebar {
  flex-basis: 25%;
  flex-grow: 1;
  padding: 0 $size6;

  .title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    color: $grey-dark;
  }

  .sidebar-list {
    line-height: 2;
  }
}

.sidebar-item {
  position: relative;
  cursor: pointer;
  width: fit-content;
  height: $size5 + 1px;
  padding: 0;
  display: flex;
  align-items: center;
  user-select: none;

  .btn {
    background: transparent;
  }

  &.active {
    // color: $primary;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -$size3;
      width: $size2;
      height: $size2;
      background: $black;
      border-radius: 50%;
    }
  }
}

@media (max-width: $media-query-large) {
  .sidebar {
    flex-basis: 100%;
  }

  .box-content {
    height: auto;
    margin: $menu-height 0;
    margin-bottom: $menu-height + 20px
  }

  .sidebar-list {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    padding: $size1;
    padding-top: $size3;
    position: fixed;
    top: $menu-height;
    left: 0;
    z-index: 800;
    background: $black;
    color: $white;

    &::-webkit-scrollbar {
      display: none;
    }

  }

  .title {
    position: fixed;
    top: 55px;
    left: $size2;
    z-index: 801;
  }

  .sidebar-item {
    width: fit-content;
    white-space: nowrap;
    padding: 0 $size3;
    border-radius: 200px;
    margin-right: $size2;

    &.active {
      background: $white;
      color: $black;

      &:after {
        display: none;
      }
    }
  }
}

.code {
  height: 300px;
  overflow: auto;
}

.box-subtitle {
  .subtitle {
    font-size: 32px;
  }
}

@media (max-width: $media-query-small) {
  .box-content {
    margin: $size7 0;
    margin-bottom: $menu-height;
  }
}
