@import "~/assets/css/_variables.scss";

.box-title {
  margin-bottom: 24px;
}

.export {
  flex-basis: 30%;
  position: relative;
}



.export-block {
  position: relative;
  border-radius: $radius;
  padding: $size6;
  background: $black;
  color: $white;
  height: calc(100vh - #{$menu-height} - 90px - 40px);
  transition: 0.3s;
  overflow-y: auto;

  .copy-block {
    position: relative;
  }

  .feedback-copy {
    margin-right: $size2;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: lighten($black, 20);
  }

  &::-webkit-scrollbar-thumb {
    background: lighten($black, 30);
    transition: 0.3s;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: lighten($black, 40);
  }
}

.top-sticky {
  .export-block {
    height: calc(100vh - #{$menu-height} - 90px + 40px);
  }
}

.box-export {
  position: absolute;
  bottom: $size2;
  right: $size3;
  margin-top: $size2;
  transition: .3s;

  .btn-save,
  .btn-copy {
    position: relative;
    padding: 0 $size3;
    border-color: $black;

    &:after {
      content: "Copied!";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: $size3;
      transition: 0.3s;
      opacity: 0;
      color: $black;
      background: $white;
      padding: $size2;
      border-radius: $radius;
    }

    &.saved,
    &.copied {
      &:after {
        opacity: 1;
        bottom: 100%;
      }
    }
  }

  .btn-save {
    margin-right: $size1;

    &:after {
      content: "Saved!";
    }
  }

  @media (max-width: $media-query-large) {
    position: fixed;
    bottom: $size3;
    right: $size3;
    z-index: 900;

    .btn {
      border-color: $white;
      width: $size6;
      height: $size6;
      padding: 0;

      span {
        display: none;
      }

      .icon-margin-right {
        margin-right: 0;
      }

      &.btn-close {
        background: $black;
        border-color: $black;
        color: $white;

        &:hover {
          background: $white;
          color: $black;
        }
      }
    }

    &.control-responsive {
      display: none;
    }
  }
}

// .top-sticky {
//   .box-export {
//     top: 0;
//   }
// }

.code {
  display: block;
  margin-bottom: $size4;
}

.box-export .btn-close {
  display: none;
}

.btn-show-result {
  display: none;
}

@media (max-width: $media-query-large) {

  .box-title {
    display: none;
  }

  .btn-show-result {
    display: block;
    position: fixed;
    bottom: $size2;
    right: $size2;
    z-index: 800;
  }


  .box-export .btn-close {
    display: block;
  }

  .export {
    flex-basis: 100%;
  }

  .export-block {
    height: calc(100vh - 60px);
    padding: $size4;
    position: fixed;
    z-index: 800;
    top: 60px;
    right: -100%;
    width: 100%;
    border-radius: 0;
    visibility: hidden;

    &.show {
      visibility: visible;
      right: 0;
    }
  }

  // .box-export .btn-copy,
  // .box-export .btn-save {
  //   position: fixed;
  //   top: 80px;
  //   right: $size7;
  //   z-index: 900;
  //   margin: 0;
  // }

  // .box-export .btn-save {
  //   right: 114px;
  // }

  // .box-export .btn-save {
  //   right: 114px;
  // }

  .box-export .btn-close {
    position: fixed;
    top: 80px;
    right: $size3;
    z-index: 900;
    margin: 0;
  }
}

@media (max-width: $media-query-medium) {
  .export {
    padding: 0 $size4;
  }
}

@media (max-width: $media-query-small) {
  .btn-show-result .btn {
    width: 100%;
  }
}
