@import "~/assets/css/_variables.scss";

.box-title {
  margin-bottom: 24px;
}

.export {
  flex-basis: 30%;
  position: relative;
  overflow: hidden;
}

.btn-copy {
  &:after {
    content: "Copied!";
    position: absolute;
    right: 0;
    top: 2px;
    margin-right: $size2;
    transition: 0.3s;
    opacity: 0;
    color: $black;
    background: $white;
    padding: $size2;
    border-radius: $radius;
    z-index: 900;
  }

  &.copied {
    &:after {
      opacity: 1;
      right: 100%;
    }
  }
}

.btn-save {
  &:after {
    content: "Saved!";
    position: absolute;
    right: 0;
    top: 2px;
    margin-right: $size2;
    transition: 0.3s;
    opacity: 0;
    color: $black;
    background: $white;
    padding: $size2;
    border-radius: $radius;
    z-index: 900;
  }

  &.saved {
    &:after {
      opacity: 1;
      right: 100%;
    }
  }
}

.export-block {
  position: relative;
  border-radius: $radius;
  padding: $size6;
  background: $black;
  color: $white;
  height: calc(100vh - #{$menu-height} - #{$footer-height} - 40px);
  transition: 0.3s;
  overflow: auto;

  .copy-block {
    position: relative;
  }

  .feedback-copy {
    margin-right: $size2;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: lighten($black, 40);
  }

  &::-webkit-scrollbar-thumb {
    background: lighten($black, 20);
    transition: 0.3s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: lighten($black, 30);
  }
}

.top-sticky {
  .export-block {
    height: calc(100vh - #{$menu-height} - #{$footer-height} + 40px);
  }
}

.box-export {
  position: relative;

  .btn {
    position: absolute;
    bottom: $size1;
    right: $size2;
    margin: $size2;
    padding: 0 16px;

    &:hover {
      transform: none;
      background: $white;
      color: $black;
      border-color: $white;
    }
  }

  @media (max-width: $media-query-large) {
    &.control-responsive {
      display: none;
    }
  }
}

.code {
  display: block;
  margin-bottom: $size4;
}

.box-export .btn-close {
  display: none;
}

.btn-show-result {
  display: none;
}

@media (max-width: $media-query-large) {

  .box-title {
    display: none;
  }

  .btn-show-result {
    display: block;
    position: fixed;
    bottom: $size2;
    right: $size2;
    z-index: 800;
  }


  .box-export .btn-close {
    display: block;
  }

  .export {
    flex-basis: 100%;
  }

  .export-block {
    height: calc(100vh - 60px);
    padding: $size4;
    position: fixed;
    z-index: 800;
    top: 60px;
    right: -100%;
    width: 100%;
    border-radius: 0;
    visibility: hidden;

    &.show {
      visibility: visible;
      right: 0;
    }
  }

  .box-export .btn-copy, .box-export .btn-save {
    position: fixed;
    top: 80px;
    right: $size7;
    z-index: 900;
    margin: 0;
  }

  .box-export .btn-close {
    position: fixed;
    top: 80px;
    right: $size3;
    z-index: 900;
    margin: 0;
  }
}

@media (max-width: $media-query-medium) {
  .export {
    padding: 0 $size4;
  }
}

@media (max-width: $media-query-small) {
  .btn-show-result .btn {
    width: 100%;
  }
}
