@import "~/assets/css/_variables.scss";

.box-title {
  margin-bottom: 24px;
}

.box-export {
  position: relative;
  margin: -$size1;
  margin-top: $size4;

  .btn {
    margin: $size1;
  }
}

.export {
  position: fixed;
  bottom: $size2;
  right: $size2;
  overflow: hidden;
  width: 100%;
  margin: -$size2;
  height: $footer-height;
  display: flex;
  padding-top: $size3;
  z-index: 1000;
}

.btn-save,
.btn-copy {
  position: relative;
  border-color: $black;

  &:after {
    content: "Copied!";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: $size3;
    transition: 0.3s;
    opacity: 0;
    color: $black;
    background: $white;
    padding: $size2;
    border-radius: $radius;
  }
}

.btn-save {
  &.saved {
    &:after {
      opacity: 1;
      bottom: 100%;
    }
  }
}

.btn-copy {
  &.copied {
    &:after {
      opacity: 1;
      bottom: 100%;
    }
  }
}

.btn-save {
  margin-right: $size1;

  &:after {
    content: "Saved!";
  }
}

.export-block {
  position: fixed;
  top: 100%;
  right: 0;
  background: lighten($black, 10);
  color: $white;
  padding: $size7 $size3;
  width: 100%;
  height: calc(100vh - #{$menu-height});
  overflow: auto;
  z-index: 1100;
  transition: .3s;
  visibility: hidden;

  &.show {
    top: $menu-height;
    visibility: visible;
  }
}

@media (max-width: $media-query-large) {
  .export {
    background: $black;
    align-items: center;
    padding-top: 0;
    height: $menu-height;

    .btn {
      border-color: $white;
    }
  }
}
