@import "~/assets/css/_variables.scss";

.box-title {
  margin-bottom: 24px;
}

.export {
  flex-basis: 100%;
  position: fixed;
  bottom: $size2;
  right: $size2;
  overflow: hidden;
}

.btn-copy {
  &:after {
    content: "Copied!";
    position: absolute;
    right: 0;
    top: 2px;
    margin-right: $size2;
    transition: 0.3s;
    opacity: 0;
    color: $black;
    background: $white;
    padding: $size2;
    border-radius: $radius;
    z-index: 900;
  }

  &.copied {
    &:after {
      opacity: 1;
      right: 100%;
    }
  }
}
